p, h3 {
    margin: 5px;
}

.selects {
    display: block;
    margin-bottom: 20px;
}

#hero_card {
    vertical-align: top;
    text-align: center;
    display: inline-block;
    width: 200px;
    margin-top: 20px;
}

.d-none {
    display: none;
}